<script th:src="@{/assets2/js/jquery.js}"></script>
<script th:src="@{/assets2/js/waypoints.js}"></script>
<script th:src="@{/assets2/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets2/js/swiper-bundle.js}"></script>
<script th:src="@{/assets2/js/nice-select.js}"></script>
<script th:src="@{/assets2/js/slick.js}"></script>
<script th:src="@{/assets2/js/magnific-popup.js}"></script>
<script th:src="@{/assets2/js/counterup.js}"></script>
<script th:src="@{/assets2/js/wow.js}"></script>
<script th:src="@{/assets2/js/isotope-pkgd.js}"></script>
<script th:src="@{/assets2/js/imagesloaded-pkgd.js}"></script>
<script th:src="@{/assets2/js/countdown.js}"></script>
<script th:src="@{/assets2/js/ajax-form.js}"></script>
<script th:src="@{/assets2/js/meanmenu.js}"></script>
<script th:src="@{/assets2/js/main.js}"></script>