<script th:src="@{tpl/js/jquery.js}"></script>
<script th:src="@{tpl/js/waypoints.js}"></script>
<script th:src="@{tpl/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{tpl/js/swiper-bundle.js}"></script>
<script th:src="@{tpl/js/nice-select.js}"></script>
<script th:src="@{tpl/js/slick.js}"></script>
<script th:src="@{tpl/js/magnific-popup.js}"></script>
<script th:src="@{tpl/js/counterup.js}"></script>
<script th:src="@{tpl/js/wow.js}"></script>
<script th:src="@{tpl/js/isotope-pkgd.js}"></script>
<script th:src="@{tpl/js/imagesloaded-pkgd.js}"></script>
<script th:src="@{tpl/js/countdown.js}"></script>
<script th:src="@{tpl/js/ajax-form.js}"></script>
<script th:src="@{tpl/js/meanmenu.js}"></script>
<script th:src="@{tpl/js/main.js}"></script>