<!doctype html>
<html xmlns:th="http://www.thymeleaf.org/" lang="en" data-layout="vertical" data-sidebar="dark" data-sidebar-size="lg"
      data-preloader="disable" data-theme="default" data-topbar="light" data-bs-theme="light">
<th:block th:insert="admin/layout/head.html"></th:block>
<body>
<div id="layout-wrapper">
    <div class="app-menu navbar-menu">
        <th:block th:insert="admin/layout/sidebar.html"></th:block>
        <th:block th:insert="admin/layout/header.html"></th:block>
    </div>
    <div class="vertical-overlay"></div>
    <!-- ============================================================== -->
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                            <h4 class="mb-sm-0">Add Product</h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-xxl-8">
                                        <form th:action="@{/admin/add-product}" method="post" th:object="${product}" enctype="multipart/form-data">
                                            <div class="mb-3">
                                                <label class="form-label">Image<span class="text-danger">*</span></label>
                                                <input th:field="*{file}" type="file"  class="form-control" placeholder="Enter title" accept="image/*" onchange="loadFile(event)" >
                                                <small th:errors="*{file}" class="text-danger"></small>
                                                <img width="50" height="50"  id="output"/>
                                            </div>
                                            <div class="mb-3">
                                                <label class="form-label">Other Image<span class="text-danger">*</span></label>
                                                <input name="fileName" type="file" multiple class="form-control" placeholder="Enter title" required accept="image/*" onchange="loadFiles(event)">
                                                <div id="image-preview-container">
                                                </div>
                                            </div>
                                            <div class="mb-3">
                                                <label  class="form-label">Product Name<span class="text-danger">*</span></label>
                                                <input th:field="*{productName}" type="text" class="form-control"  placeholder="Enter product name">
                                                <small th:errors="*{productName}" class="text-danger"></small>
                                            </div>
                                            <div class="mb-3">
                                                <label class="form-label">Category Name<span class="text-danger">*</span></label>
                                                <select th:field="*{category.categoryId}" class="form-select">
                                                    <option th:each="category : ${categoryList}" th:value="${category.categoryId}" th:text="${category.categoryName}"></option>
                                                </select>
                                                <small th:errors="*{category.categoryName}" class="text-danger"></small>
                                            </div>
                                            <div class="mb-3">
                                                <label  class="form-label">Description<span class="text-danger">*</span></label>
                                                <input th:field="*{productDescription}" type="text" class="form-control" placeholder="Enter product description">
                                                <small th:errors="*{productDescription}" class="text-danger"></small>
                                            </div>
                                            <div class="mb-3">
                                                <label  class="form-label">Price<span class="text-danger">*</span></label>
                                                <input th:field="*{productPrice}" type="number" class="form-control" placeholder="Enter product price">
                                                <small th:errors="*{productPrice}" class="text-danger"></small>
                                            </div>
                                            <div class="mb-3">
                                                <label  class="form-label">Quantity<span class="text-danger">*</span></label>
                                                <input th:field="*{quantity}" type="text" class="form-control" placeholder="Enter product quantity">
                                                <small th:errors="*{quantity}" class="text-danger"></small>
                                            </div>
                                            <div class="mb-3">
                                                <label  class="form-label">Status<span class="text-danger">*</span></label>
                                                <input th:field="*{productStatus}" type="radio" value="1"> <span>open</span>
                                                <input th:field="*{productStatus}" type="radio"  value="0"> <span>close</span>
                                            </div>
                                            <a href="/admin/product/1" class="btn btn-danger"><i class="ph-x align-middle"></i> Cancel</a>
                                            <button class="btn btn-primary" type="submit">Submit</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
</div>
<script>
    var loadFile = function(event) {
        var reader = new FileReader();
        reader.onload = function(){
            var output = document.getElementById('output');
            output.src = reader.result;
        };
        reader.readAsDataURL(event.target.files[0]);
    };
</script>



<script>
    var loadFiles = function(event) {
        // Lấy ra một thẻ HTML có id là 'image-preview-container' và gán vào biến container
        var container = document.getElementById('image-preview-container');
        // Clear previous images
        container.innerHTML = '';
        // Lấy danh sách các file được chọn thông qua sự kiện change. Biến files
        var files = event.target.files;
        for (var i = 0; i < files.length; i++) {
            var reader = new FileReader();
            reader.onload = function(e) {
                var img = document.createElement('img');
                img.src = e.target.result;
                img.width = 40;
                img.height = 40;
                container.appendChild(img);
            };
            reader.readAsDataURL(files[i]);
        }
    };
</script>

<th:block th:insert="admin/layout/footer.html"></th:block>
<th:block th:insert="admin/layout/script.html"></th:block>
</body>
</html>