<!doctype html>
<html xmlns:th="http://www.thymeleaf.org/" lang="en" data-layout="vertical" data-sidebar="dark" data-sidebar-size="lg"
      data-preloader="disable" data-theme="default" data-topbar="light" data-bs-theme="light">
<th:block th:insert="admin/layout/head.html"></th:block>
<body>
<div id="layout-wrapper">
    <div class="app-menu navbar-menu">
        <th:block th:insert="admin/layout/sidebar.html"></th:block>
        <th:block th:insert="admin/layout/header.html"></th:block>
    </div>
    <div class="vertical-overlay"></div>
    <!-- ============================================================== -->

    <!-- ============================================================== -->
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                            <h4 class="mb-sm-0">Product List</h4>

                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Courses</a></li>
                                    <li class="breadcrumb-item active">Product View</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end page title -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card" id="coursesList">
                            <div class="card-body">
                                <div class="row align-items-center g-2">
                                    <div class="col-lg-3 me-auto">
                                        <h6 class="card-title mb-0">Instructors List <span
                                                class="badge bg-primary ms-1 align-baseline">283</span></h6>
                                    </div><!--end col-->
                                    <div class="col-lg-2">
                                        <div class="search-box">
                                            <input type="text" class="form-control search" placeholder="Search...">
                                            <i class="ri-search-line search-icon"></i>
                                        </div>
                                    </div>
                                    <div class="col-lg-auto">
                                        <div class="hstack flex-wrap gap-2">
                                            <button class="btn btn-subtle-danger d-none" id="remove-actions"
                                                    onClick="deleteMultiple()"><i class="ri-delete-bin-2-line"></i>
                                            </button>
                                            <!--------------------------------------->
                                            <div>
                                                <a href="/admin/add-product" class="btn btn-secondary " ><i
                                                        class="bi bi-plus-circle align-baseline me-1"></i> Add Product</a>
                                            </div>
                                            <!--------------------------------------->
                                            <div>
                                                <a href="#" class="btn btn-primary" ><i
                                                        class="bi bi-plus-circle align-baseline me-1"></i> Sort Product</a>
                                                <!--------------------------------------->
                                            </div>
                                            <div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive table-card">
                                    <table class="table table-centered align-middle table-custom-effect table-nowrap mb-0">
                                        <thead class="text-muted">
                                        <tr>
                                            <th scope="col" class="sort cursor-pointer" data-sort="category">STT</th>
                                            <th scope="col" class="sort cursor-pointer" data-sort="course_Name">Image</th>
                                            <th scope="col" class="sort cursor-pointer" data-sort="course_Name">Category Name</th>
                                            <th scope="col" class="sort cursor-pointer" data-sort="instructor">Product Name</th>
                                            <th scope="col" class="sort cursor-pointer" data-sort="instructor">Description</th>
                                            <th scope="col" class="sort cursor-pointer" data-sort="instructor">Price</th>
                                            <th scope="col" class="sort cursor-pointer" data-sort="instructor">Quantity</th>
                                            <th scope="col" class="sort cursor-pointer" data-sort="lessons">Status</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                        </thead>
                                        <tbody class="list form-check-all">
                                        <tr th:each="item : ${productList}">
                                            <td th:text="${item.productId}"></td>
                                            <td th:text="${item.img}"></td>
                                            <td th:text="${item.category.categoryName}"></td>
                                            <td th:text="${item.productName}"></td>
                                            <td th:text="${item.productDescription}"></td>
                                            <td th:text="${item.productPrice}"></td>
                                            <td th:text="${item.quantity}"></td>
                                            <td ><span class="label" th:classappend="${item.productStatus?'btn btn-success':'btn btn-danger'}" th:text="${item.productStatus?'Open':'Block'}"></span></td>
                                            <td>
                                                <!-------------------------------->
                                                <ul class="d-flex gap-2 list-unstyled mb-0">
                                                    <li>
                                                        <a th:href="@{/admin/product-edit/{id}(id=${item.productId})}"
                                                           class="btn btn-subtle-secondary btn-icon btn-sm edit-item-btn">
                                                            <i class="ph-pencil"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a th:href="@{/admin/product-change/{id}(id=${item.productId})}"
                                                           class="btn btn-subtle-danger btn-icon btn-sm remove-item-btn">
                                                            <i class="ph-lock-key"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                                <!-------------------------------->
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>

                                    <div class="noresult" style="display: none">
                                        <div class="text-center py-4">
                                            <i class="ph-magnifying-glass fs-1 text-primary"></i>
                                            <h5 class="mt-2">Sorry! No Result Found</h5>
                                            <p class="text-muted mb-0">We've searched more than 150+ Courses We did not
                                                find any Courses for you search.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row align-items-center mt-4 pt-2" id="pagination-element">
                                    <div class="col-sm">
                                        <div class="text-muted text-center text-sm-start">
                                            Showing <span class="fw-semibold">10</span> of <span
                                                class="fw-semibold">15</span> Results
                                        </div>
                                    </div>
                                    <div class="col-sm-auto mt-3 mt-sm-0">
                                        <div class="pagination-wrap hstack gap-2 justify-content-center">
                                            <a class="page-item pagination-prev disabled" href="javascript:void(0)">
                                                Previous
                                            </a>
                                            <div th:each="item : ${#numbers.sequence(1,hello)}" >
                                                <a th:href="@{/admin/product/{page}(page = ${item})}" th:text="${item}"></a>
                                            </div>
                                            <ul class="pagination listjs-pagination mb-0"></ul>
                                            <a class="page-item pagination-next" href="javascript:void(0)">
                                                Next
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ============================================================== -->
<th:block th:insert="admin/layout/footer.html"></th:block>
<th:block th:insert="admin/layout/script.html"></th:block>
</body>
</html>