<script th:src="@{/assets3/libs/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets3/libs/simplebar/simplebar.min.js}"></script>
<script th:src="@{/assets3/js/plugins.js}"></script>
<script th:src="@{/assets3/libs/apexcharts/apexcharts.min.js}"></script>
<script th:src="@{/assets3/libs/jsvectormap/js/jsvectormap.min.js}"></script>
<script th:src="@{/assets3/libs/jsvectormap/maps/world-merc.js}"></script>
<script th:src="@{/assets3/libs/swiper/swiper-bundle.min.js}"></script>
<script th:src="@{/assets3/libs/list.js/list.min.js}"></script>
<script th:src="@{/assets3/js/pages/dashboard-ecommerce.init.js}"></script>
<script th:src="@{/assets3/js/app.js}"></script>