<script th:src="@{/assets3/libs/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets3/libs/simplebar/simplebar.min.js}"></script>
<script th:src="@{/assets3/js/plugins.js}"></script>
<script th:src="@{/assets3/libs/apexcharts/apexcharts.min.js}"></script>
<script th:src="@{/assets3/libs/jsvectormap/js/jsvectormap.min.js}"></script>
<script th:src="@{/assets3/libs/jsvectormap/maps/world-merc.js}"></script>
<script th:src="@{/assets3/libs/swiper/swiper-bundle.min.js}"></script>
<script th:src="@{/assets3/libs/list.js/list.min.js}"></script>
<script th:src="@{/assets3/js/pages/dashboard-ecommerce.init.js}"></script>
<script th:src="@{/assets3/js/app.js}"></script>
<!-- dropzone js -->
<!-- nouisliderribute js -->
<script th:src="@{assets3/libs/nouislider/nouislider.min.js}"></script>
<script th:src="@{assets3/libs/wnumb/wNumb.min.js}"></script>

<!-- sweetalert2 js -->
<script th:src="@{assets3/libs/sweetalert2/sweetalert2.min.js}"></script>

<!-- list.js min js -->
<script th:src="@{assets3/libs/list.js/list.min.js}"></script>
<script th:src="@{assets3/libs/list.pagination.js/list.pagination.min.js}"></script>

<!-- dropzone js -->
<script th:src="@{assets3/libs/dropzone/dropzone-min.js}"></script>

<!--learning list init js -->
<script th:src="@{assets3/js/pages/learning-list.init.js}"></script>
<script th:src="@{assets3/libs/dropzone/dropzone-min.js}"></script>