<!doctype html>
<html xmlns:th="http://www.thymeleaf.org/" lang="en" data-layout="vertical" data-sidebar="dark" data-sidebar-size="lg"
      data-preloader="disable" data-theme="default" data-topbar="light" data-bs-theme="light">
<th:block th:insert="admin/layout/head.html"></th:block>
<body>
<div id="layout-wrapper">
    <div class="app-menu navbar-menu">
        <th:block th:insert="admin/layout/sidebar.html"></th:block>
        <th:block th:insert="admin/layout/header.html"></th:block>
    </div>
    <div class="vertical-overlay"></div>
    <!-- ============================================================== -->

    <!-- ============================================================== -->
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                            <h4 class="mb-sm-0">Order List</h4>

                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Menu</a></li>
                                    <li class="breadcrumb-item active">Order View</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end page title -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card" id="coursesList">
                            <div class="card-body">
                                <div class="row align-items-center g-2">
                                    <div class="col-lg-3 me-auto">
                                        <form th:action="@{/admin/search-order}" method="get">
                                            <div class="search-box">
                                                <input type="text" class="form-control search" placeholder="Search..." name="searchTerm">
                                                <i class="ri-search-line search-icon"></i>
                                            </div>
                                            <div class="search-box">
                                            </div>
                                        </form>
                                    </div>
                                    <!--------------------------------------->
                                    <div class="col-lg-2">
                                    </div>
                                    <!--------------------------------------->
                                    <div class="col-lg-auto">
                                        <div class="hstack flex-wrap gap-2">
                                            <!--------------------------------------->
                                            <div>
<!--                                                <a th:href="@{/admin/add-order}" class="btn btn-secondary " ><i-->
<!--                                                        class="bi bi-plus-circle align-baseline me-1"></i> Add Order</a>-->
                                            </div>
                                            <!--------------------------------------->
                                            <div>
                                                <a th:href="@{/admin/sort-order}" class="btn btn-primary">
                                                    <i class="bi bi-sort-alpha-down"></i> Sort Order
                                                </a>
                                            </div>
                                            <!--------------------------------------->
                                            <div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive table-card">
                                    <table class="table table-centered align-middle table-custom-effect table-nowrap mb-0">
                                        <thead class="text-muted">
                                        <tr>
                                            <th scope="col" class="sort cursor-pointer" data-sort="category">ID</th>
                                            <th scope="col" class="sort cursor-pointer" data-sort="course_Name">Name</th>
                                            <th scope="col" class="sort cursor-pointer" data-sort="instructor">Date</th>
                                            <th scope="col" class="sort cursor-pointer" data-sort="lessons">Phone Number</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                        </thead>
                                        <tbody class="list form-check-all">
                                        <tr th:each="item : ${orderDetailList}">
                                            <td th:text="${item.orderId}"></td>
                                            <td th:text="${item.product.productName}"></td>
                                            <td th:text="${item.quantity}"></td>
                                            <td th:text="${item.price}"></td>
                                            <td>
                                                <!-------------------------------->
                                                <ul class="d-flex gap-2 list-unstyled mb-0">
                                                    <li>
                                                        <a th:href="@{/admin/order-edit/{id}(id=${item.orderId})}"
                                                           class="btn btn-subtle-primary btn-icon btn-sm edit-item-btn">
                                                            <i class="ph-eye"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a th:href="@{/admin/order-change/{id}(id=${item.orderId})}"
                                                           class="btn btn-subtle-danger btn-icon btn-sm remove-item-btn">
                                                            <i class="ph-lock-key"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                                <!-------------------------------->
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>

                                    <div class="noresult" style="display: none">
                                        <div class="text-center py-4">
                                            <i class="ph-magnifying-glass fs-1 text-primary"></i>
                                            <h5 class="mt-2">Sorry! No Result Found</h5>
                                            <p class="text-muted mb-0">We've searched more than 150+ Courses We did not
                                                find any Courses for you search.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row align-items-center mt-4 pt-2" id="pagination-element">
                                    <div class="col-sm">
                                    </div>
                                    <div class="col-sm-auto mt-3 mt-sm-0">
                                        <div class="pagination-wrap hstack gap-2 justify-content-center">
                                            <a class="page-item pagination-prev disabled" href="javascript:void(0)">
                                                Previous
                                            </a>
                                            <div th:each="item : ${#numbers.sequence(1, totalPage, 1)}" >
                                                <a th:href="@{/admin/order/{page}(page = ${item})}" th:text="${item}"></a>
                                            </div>
                                            <ul class="pagination listjs-pagination mb-0"></ul>
                                            <a class="page-item pagination-next" href="javascript:void(0)">
                                                Next
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ============================================================== -->
<th:block th:insert="admin/layout/footer.html"></th:block>
<th:block th:insert="admin/layout/script.html"></th:block>
</body>
</html>