<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<!-- Modal -->
<div class="modal-header bg-danger p-3">
    <h5 class="modal-title text-white" id="addCourseModalLabel">Add Category</h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close" id="close-addCourseModal"></button>
</div>
<form class="tablelist-form" novalidate autocomplete="off" th:action="@{/admin/add-category}" th:object="${category}" method="post">
    <div class="modal-body">
        <div id="alert-error-msg" class="d-none alert alert-danger py-2"></div>
        <input type="hidden" id="id-field">
        <input type="hidden" id="rating-field">
        <div class="mb-3">
            <label for="course-title-input" class="form-label">Category Name<span class="text-danger">*</span></label>
            <input th:field="*{categoryName}" type="text" class="form-control" placeholder="Enter Name" required>
        </div>
        <div class="mb-3">
            <label for="course-title-input" class="form-label">Category Description<span class="text-danger">*</span></label>
            <input th:field="*{categoryDescription}" type="text"  class="form-control" placeholder="Enter Description">
        </div>
        <div class="mb-3">
            <label for="course-title-input" class="form-label">Category Status<span class="text-danger">*</span></label>
            <input th:field="*{categoryStatus}" type="text" id="course-title-input" class="form-control" placeholder="Enter Status">
        </div>
    </div>
    <div class="modal-footer">
        <div class="hstack gap-2 justify-content-end">
            <button type="button" class="btn btn-ghost-danger" data-bs-dismiss="modal"><i class="bi bi-x-lg align-baseline me-1"></i> Close  </button>
            <button type="submit" class="btn btn-primary" id="add-btn">Add Course</button>
        </div>
    </div>
</form>
</body>
</html>
