<!DOCTYPE html>
<html lang="en">
<th:blog th:insert="user/layout/head.html"></th:blog>
<body>
<th:blog th:insert="user/layout/header.html"></th:blog>
<!-- blog-area-start -->
<section class="blog-area pt-30">
    <div class="container-fluid">
        <div class="swiper-container blog-active-3">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="tpblog__single p-relative">
                        <div class="tpblog__single-img">
                            <img th:src="@{/assets2/img/blog/blog-single-1.jpg}" alt="">
                        </div>
                        <div class="tpblog__single-text text-center">
                            <div class="tpblog__entry-wap">
                                <span class="cat-links"><a href="shop-details.html">Lifestyle</a></span>
                                <span class="author-by"><a href="#">Admin</a></span>
                                <span class="post-data"><a href="#">SEP 15. 2022</a></span>
                            </div>
                            <h4 class="tpblog__single-title mb-20">
                                <a href="blog-details.html">Popular Reasons You Must Drinks <br> Juice Everyday</a>
                            </h4>
                            <a href="blog-details.html">Continue reading</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="tpblog__single p-relative">
                        <div class="tpblog__single-img">
                            <img th:src="@{/assets2/img/blog/blog-single-2.jpg}" alt="">
                        </div>
                        <div class="tpblog__single-text text-center">
                            <div class="tpblog__entry-wap">
                                <span class="cat-links"><a href="shop-details.html">Lifestyle</a></span>
                                <span class="author-by"><a href="#">Admin</a></span>
                                <span class="post-data"><a href="#">SEP 15. 2022</a></span>
                            </div>
                            <h4 class="tpblog__single-title mb-20">
                                <a href="blog-details.html">Popular Reasons You Must Drinks <br> Juice Everyday</a>
                            </h4>
                            <a href="blog-details.html">Continue reading</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="tpblog__single p-relative">
                        <div class="tpblog__single-img">
                            <img th:src="@{/assets2/img/blog/blog-single-3.jpg}" alt="">
                        </div>
                        <div class="tpblog__single-text text-center">
                            <div class="tpblog__entry-wap">
                                <span class="cat-links"><a href="shop-details.html">Lifestyle</a></span>
                                <span class="author-by"><a href="#">Admin</a></span>
                                <span class="post-data"><a href="#">SEP 15. 2022</a></span>
                            </div>
                            <h4 class="tpblog__single-title mb-20">
                                <a href="blog-details.html">Popular Reasons You Must Drinks <br> Juice Everyday</a>
                            </h4>
                            <a href="blog-details.html">Continue reading</a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="tpblog__single p-relative">
                        <div class="tpblog__single-img">
                            <img th:src="@{/assets2/img/blog/blog-single-1.jpg}" alt="">
                        </div>
                        <div class="tpblog__single-text text-center">
                            <div class="tpblog__entry-wap">
                                <span class="cat-links"><a href="shop-details.html">Lifestyle</a></span>
                                <span class="author-by"><a href="#">Admin</a></span>
                                <span class="post-data"><a href="#">SEP 15. 2022</a></span>
                            </div>
                            <h4 class="tpblog__single-title mb-20">
                                <a href="blog-details.html">Popular Reasons You Must Drinks <br> Juice Everyday</a>
                            </h4>
                            <a href="blog-details.html">Continue reading</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- blog-area-end -->

<!-- blog-area-start -->
<section class="blog-area pt-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="tpblog__item tpblog__item-2 mb-20">
                    <div class="tpblog__thumb fix">
                        <a href="blog-details.html"><img th:src="@{/assets2/img/blog/blog-bg-8.jpg}" alt=""></a>
                    </div>
                    <div class="tpblog__wrapper">
                        <div class="tpblog__entry-wap">
                            <span class="cat-links"><a href="shop-details.html">Lifestyle</a></span>
                            <span class="author-by"><a href="#">Admin</a></span>
                            <span class="post-data"><a href="#">SEP 15. 2022</a></span>
                        </div>
                        <h4 class="tpblog__title"><a href="blog-details.html">Avocado Grilled Salmon, Rich In Nutrients For The Body</a></h4>
                        <p>These are the people who make your life easier. Egestas is tristique vestibulum...</p>
                        <div class="tpblog__details">
                            <a href="blog-details.html">Continue reading <i class="icon-chevrons-right"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="tpblog__item tpblog__item-2 mb-20">
                    <div class="tpblog__thumb fix">
                        <a href="blog-details.html"><img th:src="@{/assets2/img/blog/blog-bg-7.jpg}" alt=""></a>
                    </div>
                    <div class="tpblog__wrapper">
                        <div class="tpblog__entry-wap">
                            <span class="cat-links"><a href="shop-details.html">Lifestyle</a></span>
                            <span class="author-by"><a href="#">Admin</a></span>
                            <span class="post-data"><a href="#">SEP 15. 2022</a></span>
                        </div>
                        <h4 class="tpblog__title"><a href="blog-details.html">Avocado Grilled Salmon, Rich In Nutrients For The Body</a></h4>
                        <p>These are the people who make your life easier. Egestas is tristique vestibulum...</p>
                        <div class="tpblog__details">
                            <a href="blog-details.html">Continue reading <i class="icon-chevrons-right"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="tpblog__item tpblog__item-2 mb-20">
                    <div class="tpblog__thumb fix">
                        <a href="blog-details.html"><img th:src="@{/assets2/img/blog/blog-bg-1.jpg}" alt=""></a>
                    </div>
                    <div class="tpblog__wrapper">
                        <div class="tpblog__entry-wap">
                            <span class="cat-links"><a href="shop-details.html">Lifestyle</a></span>
                            <span class="author-by"><a href="#">Admin</a></span>
                            <span class="post-data"><a href="#">SEP 15. 2022</a></span>
                        </div>
                        <h4 class="tpblog__title"><a href="blog-details.html">Avocado Grilled Salmon, Rich In Nutrients For The Body</a></h4>
                        <p>These are the people who make your life easier. Egestas is tristique vestibulum...</p>
                        <div class="tpblog__details">
                            <a href="blog-details.html">Continue reading <i class="icon-chevrons-right"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="tpblog__item tpblog__item-2 mb-20">
                    <div class="tpblog__thumb fix">
                        <a href="blog-details.html"><img th:src="@{/assets2/img/blog/blog-bg-6.jpg}" alt=""></a>
                    </div>
                    <div class="tpblog__wrapper">
                        <div class="tpblog__entry-wap">
                            <span class="cat-links"><a href="shop-details.html">Lifestyle</a></span>
                            <span class="author-by"><a href="#">Admin</a></span>
                            <span class="post-data"><a href="#">SEP 15. 2022</a></span>
                        </div>
                        <h4 class="tpblog__title"><a href="blog-details.html">Avocado Grilled Salmon, Rich In Nutrients For The Body</a></h4>
                        <p>These are the people who make your life easier. Egestas is tristique vestibulum...</p>
                        <div class="tpblog__details">
                            <a href="blog-details.html">Continue reading <i class="icon-chevrons-right"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="tpblog__item tpblog__item-2 mb-20">
                    <div class="tpblog__thumb fix">
                        <a href="blog-details.html"><img th:src="@{/assets2/img/blog/blog-bg-5.jpg}" alt=""></a>
                    </div>
                    <div class="tpblog__wrapper">
                        <div class="tpblog__entry-wap">
                            <span class="cat-links"><a href="shop-details.html">Lifestyle</a></span>
                            <span class="author-by"><a href="#">Admin</a></span>
                            <span class="post-data"><a href="#">SEP 15. 2022</a></span>
                        </div>
                        <h4 class="tpblog__title"><a href="blog-details.html">Avocado Grilled Salmon, Rich In Nutrients For The Body</a></h4>
                        <p>These are the people who make your life easier. Egestas is tristique vestibulum...</p>
                        <div class="tpblog__details">
                            <a href="blog-details.html">Continue reading <i class="icon-chevrons-right"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="tpblog__item tpblog__item-2 mb-20">
                    <div class="tpblog__thumb fix">
                        <a href="blog-details.html"><img th:src="@{/assets2/img/blog/blog-bg-4.jpg}" alt=""></a>
                    </div>
                    <div class="tpblog__wrapper">
                        <div class="tpblog__entry-wap">
                            <span class="cat-links"><a href="shop-details.html">Lifestyle</a></span>
                            <span class="author-by"><a href="#">Admin</a></span>
                            <span class="post-data"><a href="#">SEP 15. 2022</a></span>
                        </div>
                        <h4 class="tpblog__title"><a href="blog-details.html">Avocado Grilled Salmon, Rich In Nutrients For The Body</a></h4>
                        <p>These are the people who make your life easier. Egestas is tristique vestibulum...</p>
                        <div class="tpblog__details">
                            <a href="blog-details.html">Continue reading <i class="icon-chevrons-right"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="tpblog__item tpblog__item-2 mb-20">
                    <div class="tpblog__thumb fix">
                        <a href="blog-details.html"><img th:src="@{/assets2/img/blog/blog-bg-2.jpg}" alt=""></a>
                    </div>
                    <div class="tpblog__wrapper">
                        <div class="tpblog__entry-wap">
                            <span class="cat-links"><a href="shop-details.html">Lifestyle</a></span>
                            <span class="author-by"><a href="#">Admin</a></span>
                            <span class="post-data"><a href="#">SEP 15. 2022</a></span>
                        </div>
                        <h4 class="tpblog__title"><a href="blog-details.html">Avocado Grilled Salmon, Rich In Nutrients For The Body</a></h4>
                        <p>These are the people who make your life easier. Egestas is tristique vestibulum...</p>
                        <div class="tpblog__details">
                            <a href="blog-details.html">Continue reading <i class="icon-chevrons-right"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="tpblog__item tpblog__item-2 mb-20">
                    <div class="tpblog__thumb fix">
                        <a href="blog-details.html"><img th:src="@{/assets2/img/blog/blog-bg-9.jpg}" alt=""></a>
                    </div>
                    <div class="tpblog__wrapper">
                        <div class="tpblog__entry-wap">
                            <span class="cat-links"><a href="shop-details.html">Lifestyle</a></span>
                            <span class="author-by"><a href="#">Admin</a></span>
                            <span class="post-data"><a href="#">SEP 15. 2022</a></span>
                        </div>
                        <h4 class="tpblog__title"><a href="blog-details.html">Avocado Grilled Salmon, Rich In Nutrients For The Body</a></h4>
                        <p>These are the people who make your life easier. Egestas is tristique vestibulum...</p>
                        <div class="tpblog__details">
                            <a href="blog-details.html">Continue reading <i class="icon-chevrons-right"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="tpblog__item tpblog__item-2 mb-20">
                    <div class="tpblog__thumb fix">
                        <a href="blog-details.html"><img th:src="@{/assets2/img/blog/blog-bg-3.jpg}" alt=""></a>
                    </div>
                    <div class="tpblog__wrapper">
                        <div class="tpblog__entry-wap">
                            <span class="cat-links"><a href="shop-details.html">Lifestyle</a></span>
                            <span class="author-by"><a href="#">Admin</a></span>
                            <span class="post-data"><a href="#">SEP 15. 2022</a></span>
                        </div>
                        <h4 class="tpblog__title"><a href="blog-details.html">Avocado Grilled Salmon, Rich In Nutrients For The Body</a></h4>
                        <p>These are the people who make your life easier. Egestas is tristique vestibulum...</p>
                        <div class="tpblog__details">
                            <a href="blog-details.html">Continue reading <i class="icon-chevrons-right"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="basic-pagination text-center mb-80">
                    <nav>
                        <ul>
                            <li>
                                <span class="current">1</span>
                            </li>
                            <li>
                                <a href="blog.html">2</a>
                            </li>
                            <li>
                                <a href="blog.html">3</a>
                            </li>
                            <li>
                                <a href="blog.html">
                                    <i class="icon-chevrons-right"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- blog-area-end -->
<th:blog th:insert="user/layout/footer.html"></th:blog>
<th:blog th:insert="user/layout/script.html"></th:blog>
</body>
</html>