<!-- cart area -->
<th:block th:insert="user/layout/head.html"></th:block>
<style>
    /* Thực hiện căn giữa cho input trong thẻ td có class "product-quantity1" */
    .product-quantity1 input {
        text-align: center;
    }
    /* Kiểu CSS cho nút trong ô Quantity */
    .product-quantity1 button {
        background-color: #8FB63E;/* Màu nền của nút */
        color: white; /* Màu chữ của nút */
        border: none; /* Bỏ viền */
        padding: 8px 12px; /* Kích thước của nút */
        cursor: pointer; /* Hiển thị hình con trỏ khi hover */
        transition: background-color 0.3s, color 0.3s; /* Hiệu ứng chuyển đổi màu sắc */
        border-radius: 8px;
    }

    .product-quantity1 input[type="text"] {
        width: 40px; /* Độ rộng của ô input */
        text-align: center; /* Căn giữa nội dung trong ô input */
    }


    /* Kiểu CSS cho nút khi hover */
    .product-quantity1 button:hover {
        background-color: #6C9147; /* Màu nền khi hover */
        color: white; /* Màu chữ khi hover */
    }
</style>
<th:block th:insert="user/layout/header.html"></th:block>

<!-- breadcrumb-area-start -->
<div xmlns:th="http://www.thymeleaf.org/">
    <div class="breadcrumb__area pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="tp-breadcrumb__content">
                        <div class="tp-breadcrumb__list">
                            <span class="tp-breadcrumb__active"><a href="index.html">Home</a></span>
                            <span class="dvdr">/</span>
                            <span>Cart</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb-area-end -->
    <section class="cart-area pb-80">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <form th:action="@{/update-cart}" method="post">
                        <div class="table-content table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th class="cart-product-name">Image</th>
                                    <th class="product-price">Price</th>
                                    <th class="product-price">Name</th>
                                    <th class="product-quantity">Total Amount</th>
                                    <th class="product-quantity">Quantity</th>
                                    <th class="product-remove">Remove</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="item: ${cartItems}">
                                    <input type="hidden" name="productId" th:value="${item.product.productId}" />
                                    <td class="product-thumbnail">
                                        <a>
                                            <img style="width: 50px; height: 50px; object-fit: cover" th:src="@{|/uploads/images/${item.product.img}|}" alt="">
                                        </a>
                                    </td>
                                    <td class="product-price">
                                        <span class="amount" th:text="${item.product.productPrice}"></span>
                                    </td>
                                    <td class="product-price">
                                        <span class="amount" th:text="${item.product.productName}"></span>
                                    </td>
                                    <td class="product-price">
                                        <span class="amount" th:text="${item.product.productPrice* item.quantity}"></span>
                                    </td>
                                    <td class="product-quantity1">
                                        <form th:action="@{/update-cart}" method="post">
                                            <input type="hidden" name="productId"  th:value="${item.product.productId}" />
                                            <button type="submit"data_type="-" th:attr="id=${item.product.productId}" onclick="updateQuantity(this)">-</button>
                                            <input  type="text" name="quantity" th:attr="ip_id=${item.product.productId}" th:value="${item.quantity}" />
                                            <button type="submit" data_type="+" th:attr="id=${item.product.productId}" onclick="updateQuantity(this)"  >+</button>
                                        </form>
                                    </td>
                                    <td class="product-remove">
                                        <form th:action="@{/delete-cart}" method="post">
                                            <input type="hidden" name="productId" th:value="${item.product.productId}" />
                                            <button type="submit"><i class="fa fa-times"></i></button>
                                        </form>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="coupon-all">
                                    <div class="coupon">
                                        <button class="tp-btn tp-color-btn banner-animation" name="apply_coupon" type="submit"><a href="/shop">Back Shop</a></button>
                                    </div>
                                    <div class="coupon2">
<!--                                        <button class="tp-btn tp-color-btn banner-animation" name="update_cart" type="submit">Update cart</button>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-end">
                            <div class="col-md-5 ">
                                <div class="cart-page-total">
                                    <h2>Cart totals</h2>
                                    <ul class="mb-20">
                                        <li>Subtotal <span></span></li>
                                        <li>Total <span></span></li>
                                    </ul>
                                    <a href="/checkout" class="tp-btn tp-color-btn banner-animation">Proceed to Checkout</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
<script>
    function updateQuantity(e) {
        let id = e.id;
       let action = e.getAttribute("data_type");
        // Lấy giá trị hiện tại của input
        var inputElement = document.querySelector(`input[ip_id="${id}"]`);
        var currentQuantity = parseInt(inputElement.value);

        // Tăng hoặc giảm giá trị tùy thuộc vào action
        if (action === '-' && currentQuantity > 1) {
            currentQuantity = currentQuantity - 1;
        } else if (action === '+') {
            currentQuantity = currentQuantity + 1;
        }

        // Cập nhật giá trị mới vào input
        inputElement.value = currentQuantity;
    }
</script>
<th:block th:insert="user/layout/footer.html"></th:block>
<th:block th:insert="user/layout/script.html"></th:block>