<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<th:block th:insert="user/layout/head.html"></th:block>
<body>
<th:block th:insert="user/layout/header.html"></th:block>

<!-- breadcrumb-area-start -->
<div class="breadcrumb__area pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="tp-breadcrumb__content">
                    <div class="tp-breadcrumb__list">
                        <span class="tp-breadcrumb__active"><a href="/">Home</a></span>
                        <span class="dvdr">/</span>
                        <span>Checkout</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb-area-end -->

<!-- checkout-area start -->
<section class="checkout-area pb-50">
    <div class="container">
        <!-------------------------------------->
        <form th:action="@{/checkout}" method="post" th:object="${userCheckOutDTO}">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="checkbox-form">
                        <h3>Billing Details</h3>
                        <!-------------------------------------->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="checkout-form-list">
                                    <label>Name <span class="required">*</span></label>
                                    <input th:field="*{name}" type="text" placeholder="">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="checkout-form-list">
                                    <label>Email <span class="required">*</span></label>
                                    <input th:field="*{email}" type="text" placeholder="Street address">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="checkout-form-list">
                                    <label>Phone <span class="required">*</span></label>
                                    <input th:field="*{phone}" type="text" placeholder="Street address">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="checkout-form-list">
                                    <label>Address <span class="required">*</span></label>
                                    <input th:field="*{address}" type="text" placeholder="Street address">
                                </div>
                            </div>
                            <div class="order-notes">
                                <div class="checkout-form-list">
                                    <label>Order Notes <span class="required">*</span></label>
                                    <textarea th:field="*{note}" id="checkout-mess" cols="30" rows="10" placeholder="Notes..."></textarea>
                                </div>
                            </div>
                        </div>
                        <!-------------------------------------->
                    </div>
                </div>
                <!-------------------------------------->
                <div class="col-lg-6 col-md-12">
                    <div class="your-order mb-30 ">
                        <h3>Your order</h3>
                        <div class="your-order-table table-responsive">
                            <table>
                                <thead>
                                <tr>
                                    <th class="product-name">Product</th>
                                    <th class="product-total">Total</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="cart_item" th:each="item: ${session.cart}">
                                    <td class="product-name">
                                        <span class="product-quantity" th:text="${item.product.productName} + ' X'"></span>
                                        <span class="product-quantity" th:text="${item.quantity}"></span>
                                    </td>
                                    <td class="product-total">
                                        <span class="amount" th:text="${item.quantity * item.product.productPrice}"></span>
                                    </td>
                                </tr>
                                </tbody>
                                <tfoot>
                                <tr class="order-total">
                                    <th>Order Total</th>
                                    <td>
                                        <strong><span class="amount" th:text="${total}"></span></strong>
                                    </td>
                                </tr>
                                </tfoot>
                            </table>
                            <div class="order-button-payment mt-20">
                                <button type="submit" class="tp-btn tp-color-btn w-100 banner-animation">Place order</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-------------------------------------->
            </div>
        </form>
    </div>
</section>
<th:block th:insert="user/layout/footer.html"></th:block>
<th:block th:insert="user/layout/script.html"></th:block>
</body>
</html>