<!DOCTYPE html>
<html lang="en">
<th:block th:insert="user/layout/head.html"></th:block>
<body>
<th:block th:insert="user/layout/header.html"></th:block>
<!-- contact-area-start -->
<section class="contact-area mb-45">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="tpcontact-inner text-center mt-20 mb-40">
                    <div class="tpcontact-inner-text">
                        <h5 class="tpcontact-inner-sub-title">Contact us</h5>
                        <h5 class="tpcontact-inner-title mb-20">Looking For Orfarm?</h5>
                        <p>The liber tempor cum soluta nobis eleifend option congue doming quod mazim.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="tpcontact mb-30">
                    <div class="tpcontact__img mb-15 w-img">
                        <img th:src="@{/assets2/img/banner/contact-big-bg1.jpg}" alt="">
                    </div>
                    <div class="tplocation__text">
                        <h4 class="tplocation__text-title">Rue Pelleport - Paris</h4>
                        <div class="tplocation__content tplocation__content-two">
                            <ul>
                                <li>
                                    <a href="#">Add: Heaven Stress, Beverly Melbourne                                       </a>
                                </li>
                                <li>
                                    <a href="#">Phone: (+100) 123 456 7890</a>
                                </li>
                                <li>
                                    <a href="#">Email: Orfarm@google.com</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="tpcontact mb-30">
                    <div class="tpcontact__img mb-15 w-img">
                        <img th:src="@{/assets2/img/banner/contact-big-bg2.jpg}" alt="">
                    </div>
                    <div class="tplocation__text">
                        <h4 class="tplocation__text-title">Prospect - New York</h4>
                        <div class="tplocation__content tplocation__content-two">
                            <ul>
                                <li>
                                    <a href="#">Add: Heaven Stress, Beverly Melbourne                                       </a>
                                </li>
                                <li>
                                    <a href="#">Phone: (+100) 123 456 7890</a>
                                </li>
                                <li>
                                    <a href="#">Email: Orfarm@google.com</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="tpcontact mb-30">
                    <div class="tpcontact__img mb-15 w-img">
                        <img th:src="@{/assets2/img/banner/contact-big-bg3.jpg}" alt="">
                    </div>
                    <div class="tplocation__text">
                        <h4 class="tplocation__text-title">Budapest - Hungary</h4>
                        <div class="tplocation__content tplocation__content-two">
                            <ul>
                                <li>
                                    <a href="#">Add: Heaven Stress, Beverly Melbourne                                       </a>
                                </li>
                                <li>
                                    <a href="#">Phone: (+100) 123 456 7890</a>
                                </li>
                                <li>
                                    <a href="#">Email: Orfarm@google.com</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="tpcontact mb-30 w-img">
                    <div class="tpcontact__img mb-15">
                        <img th:src="@{/assets2/img/banner/contact-big-bg4.jpg}" alt="">
                    </div>
                    <div class="tplocation__text">
                        <h4 class="tplocation__text-title">Kastrup - Denmark</h4>
                        <div class="tplocation__content tplocation__content-two">
                            <ul>
                                <li>
                                    <a href="#">Add: Heaven Stress, Beverly Melbourne                                       </a>
                                </li>
                                <li>
                                    <a href="#">Phone: (+100) 123 456 7890</a>
                                </li>
                                <li>
                                    <a href="#">Email: Orfarm@google.com</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- contact-area-end -->

<!-- map-area-start -->
<section class="map-area tpmap__box">
    <div class="container">
        <div class="row gx-0">
            <div class="col-lg-6 col-md-6 order-2 order-md-1">
                <div class="tpmap__wrapper">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d56215.718841453985!2d-0.19959027821222705!3d51.48739183082915!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1slondon%20eye!5e0!3m2!1sen!2sbd!4v1656749326947!5m2!1sen!2sbd" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" width="600" height="450"></iframe>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 order-1 order-md-2">
                <div class="tpform__wrapper pt-120 pb-80 ml-60">
                    <h4 class="tpform__title">LEAVE A REPLY</h4>
                    <p>Your email address will not be published. Required fields are marked *</p>
                    <div class="tpform__box">
                        <form action="#">
                            <div class="row gx-7">
                                <div class="col-lg-6">
                                    <div class="tpform__input mb-20">
                                        <input type="text" placeholder="Your Name *">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="tpform__input mb-20">
                                        <input type="email" placeholder="Your Email *">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="tpform__input mb-20">
                                        <input type="text" placeholder="Subject *">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="tpform__input mb-20">
                                        <input type="text" placeholder="Phone">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="tpform__textarea">
                                        <textarea name="message" placeholder="Message"></textarea>
                                        <div class="tpform__textarea-check mt-20 mb-25">
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault01">
                                                <label class="form-check-label" for="flexCheckDefault01">
                                                    I am bound by the terms of the <a href="#">Service I accept Privacy Policy.</a>
                                                </label>
                                            </div>
                                        </div>
                                        <button>Send message</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- map-area-end -->
<th:block th:insert="user/layout/footer.html"></th:block>
<th:block th:insert="user/layout/script.html"></th:block>
</body>
</html>