<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<th:block th:insert="user/layout/head.html"></th:block>
<body>
<th:block th:insert="user/layout/header.html"></th:block>

<!----------------------------------------------------->
<div class="breadcrumb__area pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="tp-breadcrumb__content">
                    <div class="tp-breadcrumb__list">
                        <span class="tp-breadcrumb__active"><a href="/">Home</a></span>
                        <span class="dvdr">/</span>
                        <span>Order History</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- start page title -->
<div class="table-responsive table-card">
    <table class="table table-centered align-middle table-custom-effect table-nowrap mb-0">
        <thead class="text-muted">
        <tr>
            <th scope="col" class="sort cursor-pointer" data-sort="category"></th>
            <th scope="col" class="sort cursor-pointer" data-sort="category">ID</th>
            <th scope="col" class="sort cursor-pointer" data-sort="course_Name">UserName</th>
            <th scope="col" class="sort cursor-pointer" data-sort="instructor">Phone</th>
            <th scope="col" class="sort cursor-pointer" data-sort="lessons">Address</th>
            <th scope="col" class="sort cursor-pointer" data-sort="lessons">Price</th>
            <th scope="col" class="sort cursor-pointer" data-sort="lessons">Date</th>
            <th scope="col" class="sort cursor-pointer" data-sort="lessons">Status</th>
            <th scope="col" class="sort cursor-pointer" data-sort="lessons">Details</th>
        </tr>
        </thead>
        <tbody class="list form-check-all">
        <tr >
            <td></td>
            <td th:text="${orderList.order_id}"></td>
            <td th:text="${orderList.user.userName}"></td>
            <td th:text="${orderList.user.userPhoneNumber}"></td>
            <td th:text="${orderList.address}"></td>
            <td th:text="${totalPrice}"></td>
            <td th:text="${orderList.order_date}"></td>
            <td>
                  <span th:text="${orderList.orderStatus == 1 ? 'WAITING' : (orderList.orderStatus == 0 ? 'CANCEL' : 'CONFIRM')}"
                        th:class="${orderList.orderStatus == 1 ? 'btn btn-outline-secondary' : (orderList.orderStatus == 0 ? 'btn btn-outline-danger' : 'btn btn-outline-success')}">
                  </span>
            </td>
            <td th:each="item : ${orderDetail}" th:if="${orderList.order_id == item.orderId}">
                <span th:text="${item.orderId + ',' + item.product.productName}"></span>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="noresult" style="display: none">
        <div class="text-center py-4">
            <i class="ph-magnifying-glass fs-1 text-primary"></i>
            <h5 class="mt-2">Sorry! No Result Found</h5>
            <p class="text-muted mb-0">We've searched more than 150+ Courses We did not
                find any Courses for you search.</p>
        </div>
    </div>
</div>
<!-- comming-soon-area-start -->
<section class="commoing-soon-area grey-bg pt-75 pb-75">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-6">
                <div class="tpsoon">
                    <h4 class="tpsoon__sub-title mb-15">Coming soon</h4>
                    <h2 class="tpsoon__title mb-30">Our New Website <br> Will Be Available Soon</h2>
                    <p>We are currently working on an awesome new site. Your personal details <br>
                        are strictly for our use, and you can unsubscribe at any time.</p>
                    <div class="tpsoon__submit-form  mb-50">
                        <form action="#">
                            <div class="tpsoon__submit-wrapper">
                                <div class="tpsoon__input mb-10 mr-10">
                                    <input type="email" placeholder="Your email address...">
                                    <span><img th:src="@{/assets2/img/shape/message-1.svg}" alt=""></span>
                                </div>
                                <div class="tpsoon__submit">
                                    <button class="tp-btn-3">Subscribe</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="rainbow__social mb-15">
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a class="rainbow__facebook" href="#"><i class="fab fa-facebook-f"></i></a>
                        <a class="rainbow__pin" href="#"><i class="fab fa-pinterest-p"></i></a>
                        <a class="rainbow__skype" href="#"><i class="fab fa-skype"></i></a>
                        <a class="rainbow__youtube" href="#"><i class="fab fa-youtube"></i></a>
                    </div>
                    <div class="tpsoon__copyright">
                        <span>Copyright <a href="#">© ORFARM</a> all rights reserved. Powered by <a href="#">Theme_pure</a>.</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-6">
                <div class="tpsoon__thumb p-relative w-img">
                    <img th:src="@{/assets2/img/banner/comming-soon-banner.png}" alt="">
                    <div class="tpsoon__shape d-none d-md-block">
                        <div class="tpsoon__shape-one">
                            <img th:src="@{/assets2/img/shape/comming-shae-1.png}" alt="">
                        </div>
                        <div class="tpsoon__shape-two">
                            <img th:src="@{/assets2/img/shape/comming-shae-2.png}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- comming-soon-area-end -->

<th:block th:insert="user/layout/footer.html"></th:block>
<th:block th:insert="user/layout/script.html"></th:block>
</body>
</html>