<!DOCTYPE html>
<html lang="en">
<th:block th:insert="user/layout/head.html"></th:block>
<body>
<th:block th:insert="user/layout/header.html"></th:block>

<!----------------------------------------------------->
<div class="breadcrumb__area pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="tp-breadcrumb__content">
                    <div class="tp-breadcrumb__list">
                        <span class="tp-breadcrumb__active"><a href="/">Home</a></span>
                        <span class="dvdr">/</span>
                        <span>Order History</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- start page title -->
<div id="customerList">
    <div class="table-responsive table-card mt-3 mb-1">
        <table class="table align-middle table-nowrap" id="customerTable">
            <thead class="table-light">
            <tr>
                <th scope="col" style="width: 50px;">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="checkAll"
                               value="option">
                    </div>
                </th>
                <th class="sort" data-sort="customer_name">Customer</th>
                <th class="sort" data-sort="email">Email</th>
                <th class="sort" data-sort="phone">Phone</th>
                <th class="sort" data-sort="date">Joining Date</th>
                <th class="sort" data-sort="status">Delivery Status</th>
                <th class="sort" data-sort="action">Action</th>
            </tr>
            </thead>
            <tbody class="list form-check-all">
            <tr>
                <th scope="row">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="chk_child"
                               value="option1">
                    </div>
                </th>
                <td class="id" style="display:none;"><a href="1javascript:void(0);"
                                                        class="fw-medium link-primary">#VZ2101</a>
                </td>
                <td class="customer_name">Mary Cousar</td>
                <td class="email">marycousar@Hybrix.com</td>
                <td class="phone">580-464-4694</td>
                <td class="date">06 Apr, 2021</td>
                <td class="status"><span
                        class="badge bg-success-subtle text-success text-uppercase">Active</span>
                </td>
                <td>
                    <div class="d-flex gap-2">
                        <div class="edit">
                            <button class="btn btn-sm btn-success edit-item-btn"
                                    data-bs-toggle="modal"
                                    data-bs-target="#showModal">Edit
                            </button>
                        </div>
                        <div class="remove">
                            <button class="btn btn-sm btn-danger remove-item-btn"
                                    data-bs-toggle="modal"
                                    data-bs-target="#deleteRecordModal">Remove
                            </button>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="noresult" style="display: none">
            <div class="text-center">
                <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop"
                           colors="primary:#121331,secondary:#08a88a"
                           style="width:75px;height:75px"></lord-icon>
                <h5 class="mt-2">Sorry! No Result Found</h5>
                <p class="text-muted mb-0">We've searched more than 150+ Orders We did not find any
                    orders for you search.</p>
            </div>
        </div>
    </div>
</div>

<!-- comming-soon-area-start -->
<section class="commoing-soon-area grey-bg pt-75 pb-75">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-6">
                <div class="tpsoon">
                    <h4 class="tpsoon__sub-title mb-15">Coming soon</h4>
                    <h2 class="tpsoon__title mb-30">Our New Website <br> Will Be Available Soon</h2>
                    <p>We are currently working on an awesome new site. Your personal details <br>
                        are strictly for our use, and you can unsubscribe at any time.</p>
                    <div class="tpsoon__submit-form  mb-50">
                        <form action="#">
                            <div class="tpsoon__submit-wrapper">
                                <div class="tpsoon__input mb-10 mr-10">
                                    <input type="email" placeholder="Your email address...">
                                    <span><img th:src="@{/assets2/img/shape/message-1.svg}" alt=""></span>
                                </div>
                                <div class="tpsoon__submit">
                                    <button class="tp-btn-3">Subscribe</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="rainbow__social mb-15">
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a class="rainbow__facebook" href="#"><i class="fab fa-facebook-f"></i></a>
                        <a class="rainbow__pin" href="#"><i class="fab fa-pinterest-p"></i></a>
                        <a class="rainbow__skype" href="#"><i class="fab fa-skype"></i></a>
                        <a class="rainbow__youtube" href="#"><i class="fab fa-youtube"></i></a>
                    </div>
                    <div class="tpsoon__copyright">
                        <span>Copyright <a href="#">© ORFARM</a> all rights reserved. Powered by <a href="#">Theme_pure</a>.</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-6">
                <div class="tpsoon__thumb p-relative w-img">
                    <img th:src="@{/assets2/img/banner/comming-soon-banner.png}" alt="">
                    <div class="tpsoon__shape d-none d-md-block">
                        <div class="tpsoon__shape-one">
                            <img th:src="@{/assets2/img/shape/comming-shae-1.png}" alt="">
                        </div>
                        <div class="tpsoon__shape-two">
                            <img th:src="@{/assets2/img/shape/comming-shae-2.png}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- comming-soon-area-end -->

<th:block th:insert="user/layout/footer.html"></th:block>
<th:block th:insert="user/layout/script.html"></th:block>
</body>
</html>