<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<th:block th:insert="user/layout/head.html"></th:block>
<body>
<th:block th:insert="user/layout/header.html"></th:block>
<!------------------------------------------>
<div class="container">
    <h4>Change Profile</h4>
    <form method="post" th:action="@{/profile-edit}" enctype="multipart/form-data">
        <div class="form-group">
            <input type="hidden" class="form-control" id="userId" name="userId" th:value="${session.user.userId}" readonly>
        </div>
        <div class="form-group">
            <label for="profileImage">Profile Image:</label>
            <input name="profileImage" type="file" class="form-control" id="profileImage" accept="image/*" onchange="loadFile(event)">
            <img th:src="@{|/uploads/images/${session.user.userImg}|}" id="output" alt="Profile Image" width="40" height="40"/>
        </div>
        <div class="form-group">
            <label for="userName">Name:</label>
            <input type="text" class="form-control" id="userName" name="userName" th:value="${session.user.userName}" required>
        </div>
        <div class="form-group">
            <label for="userName">Email:</label>
            <input type="email" class="form-control" id="userEmail" name="userEmail" th:value="${session.user.userEmail}" required>
        </div>
        <div class="form-group">
            <label for="userAddress">Address:</label>
            <input type="text" class="form-control" id="userAddress" name="userAddress" th:value="${session.user.userAddress}" required>
        </div>
        <div class="form-group">
            <label for="userPhoneNumber">Phone Number:</label>
            <input type="text" class="form-control" id="userPhoneNumber" name="userPhoneNumber" th:value="${session.user.userPhoneNumber}" required>
        </div>
        <div class="form-group">
            <label for="userPassword">Password:</label>
            <input type="password" class="form-control" id="userPassword" name="userPassword" th:value="${session.user.userPassword}" required >
        </div>
        <button type="submit" class="btn btn-primary">Save Changes</button>
    </form>
</div>

<!------------------------------------------>
<script>
    var loadFile = function(event) {
        var reader = new FileReader();
        reader.onload = function(){
            var output = document.getElementById('output');
            output.src = reader.result;
        };
        reader.readAsDataURL(event.target.files[0]);
    };
</script>
<th:block th:insert="user/layout/footer.html"></th:block>
<th:block th:insert="user/layout/script.html"></th:block>
</body>
</html>