<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<th:block th:insert="user/layout/head.html"></th:block>
<body>
<th:block th:insert="user/layout/header.html"></th:block>
<div class="breadcrumb__area grey-bg pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="tp-breadcrumb__content">
                    <div class="tp-breadcrumb__list">
                        <span class="tp-breadcrumb__active"><a href="/">Home</a></span>
                        <span class="dvdr">/</span>
                        <span>Shop</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!----------------------------------------------->
<section class="shop-area-start grey-bg pb-200">
    <div class="container">
        <div class="row row-reverse">
            <div class="col-xl-2 col-lg-12 col-md-12 order-2">
                <div class="tpshop__leftbar tpshop__leftbar-area">
                    <ul class="tpshop__widget mb-30 pb-25" >
                        <h4 class="tpshop__widget-title">Product Categorie</h4>
                        <li class="form-check">
                            <a href="/shop" class="form-check-label" for="flexCheckDefault9">All Product</a>
                        </li>
                        <li class="form-check" th:each="item : ${categoryList}" th:if="${item.getCategoryStatus() == true}">
                            <a class="form-check-label" for="flexCheckDefault9" th:href="@{/shop/{id}(id=${item.categoryId})}" th:text="${item.categoryName}" ></a>
                        </li>
                    </ul>
                    <div class="tpshop__widget mb-30 pb-25">
                        <h4 class="tpshop__widget-title mb-20">FILTER BY PRICE</h4>
                        <div class="productsidebar">
                            <div class="productsidebar__head">
                            </div>
                            <div class="productsidebar__range">
                                <div id="slider-range"></div>
                                <div class="price-filter mt-10"><input type="text" id="amount">
                                </div>
                            </div>
                        </div>
                        <div class="productsidebar__btn mt-15 mb-15">
                            <a href="#">FILTER</a>
                        </div>
                    </div>
                    <div class="tpshop__widget mb-30 pb-25">
                        <h4 class="tpshop__widget-title mb-20">Filter by Color</h4>
                        <div class="tpshop__widget-color-box">
                            <div class="form-check">
                                <input class="form-check-input black-input" type="checkbox" value="" id="flexCheckDefault12">
                                <label class="form-check-label" for="flexCheckDefault12">
                                    Black
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input blue-input" type="checkbox" value="" id="flexCheckChecked13">
                                <label class="form-check-label" for="flexCheckChecked13">
                                    Blue
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input brown-input" type="checkbox" value="" id="flexCheckChecked18">
                                <label class="form-check-label" for="flexCheckChecked18">
                                    Blue
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input grey-input" type="checkbox" value="" id="flexCheckChecked14">
                                <label class="form-check-label" for="flexCheckChecked14">
                                    Gray
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input green-input" type="checkbox" value="" id="flexCheckChecked15">
                                <label class="form-check-label" for="flexCheckChecked15">
                                    Green
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input orange-input" type="checkbox" value="" id="flexCheckChecked16">
                                <label class="form-check-label" for="flexCheckChecked16">
                                    Red
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input red-input" type="checkbox" value="" id="flexCheckChecked17">
                                <label class="form-check-label" for="flexCheckChecked17">
                                    Yellow
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="tpshop__widget mb-30 pb-25">
                        <h4 class="tpshop__widget-title">FILTER BY BRAND</h4>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault18">
                            <label class="form-check-label" for="flexCheckDefault18">
                                Chrome Hearts  (15)
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault19">
                            <label class="form-check-label" for="flexCheckDefault19">
                                Dominique Aurientis  (15)
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault20">
                            <label class="form-check-label" for="flexCheckDefault20">
                                Galliano  (15)
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault21">
                            <label class="form-check-label" for="flexCheckDefault21">
                                Georgine  (15)
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault22">
                            <label class="form-check-label" for="flexCheckDefault22">
                                Matthew Christopher  (15)
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault23">
                            <label class="form-check-label" for="flexCheckDefault23">
                                Paul Gaultier  (15)
                            </label>
                        </div>
                    </div>
                    <div class="tpshop__widget">
                        <h4 class="tpshop__widget-title">FILTER BY RATING</h4>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault24">
                            <label class="form-check-label" for="flexCheckDefault24">
                                <i class="icon-star_rate"></i>
                                <i class="icon-star_rate"></i>
                                <i class="icon-star_rate"></i>
                                <i class="icon-star_rate"></i>
                                <i class="icon-star_rate"></i>
                                (45)
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault25">
                            <label class="form-check-label" for="flexCheckDefault25">
                                <i class="icon-star_rate"></i>
                                <i class="icon-star_rate"></i>
                                <i class="icon-star_rate"></i>
                                <i class="icon-star_rate"></i>
                                <i class="icon-star_rate"></i>
                                (10)
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault26">
                            <label class="form-check-label" for="flexCheckDefault26">
                                <i class="icon-star_rate"></i>
                                <i class="icon-star_rate"></i>
                                <i class="icon-star_rate"></i>
                                <i class="icon-star_rate"></i>
                                <i class="icon-star_rate"></i>
                                (05)
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault27">
                            <label class="form-check-label" for="flexCheckDefault27">
                                <i class="icon-star_rate"></i>
                                <i class="icon-star_rate"></i>
                                <i class="icon-star_rate"></i>
                                <i class="icon-star_rate"></i>
                                <i class="icon-star_rate"></i>
                                (02)
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault28">
                            <label class="form-check-label" for="flexCheckDefault28">
                                <i class="icon-star_rate"></i>
                                <i class="icon-star_rate"></i>
                                <i class="icon-star_rate"></i>
                                <i class="icon-star_rate"></i>
                                <i class="icon-star_rate"></i>
                                (02)
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-10 col-lg-12 col-md-12">
                <div class="tpshop__top tpshop__sidebar-area mr-60 ">
                    <div class="tab-content1" id="nav-tabContent1">
                        <div class="tab-pane fade1" id="nav-all11" role="tabpanel" aria-labelledby="nav-all-tab1">
                            <div class="row row-cols-xxl-4 row-cols-xl-4 row-cols-lg-3 row-cols-md-3 row-cols-sm-2 row-cols-1 tpproduct__shop-item">
                                <!----------------------------------------------->
                                <div class="col" th:each="item : ${productList}" th:if="${item.getProductStatus() == true}">
                                    <div class="tpproduct p-relative mb-20">
                                        <div class="tpproduct__thumb p-relative text-center">
                                            <a th:href="@{/detail/{id}(id=${item.productId})}">
                                                <img style="width:100%; height:100%; object-fit: cover" th:src="@{|/uploads/images/${item.img}|}" alt=""></a>
                                            <a th:href="@{/detail/{id}(id=${item.productId})}" class="tpproduct__thumb-img">
                                                <img style="width:100%; height:100%; object-fit: cover" th:src="@{|/uploads/images/${item.img}|}" alt=""></a>
                                            <div class="tpproduct__info bage">
                                                <span class="tpproduct__info-discount bage__discount">-50%</span>
                                                <span class="tpproduct__info-hot bage__hot">HOT</span>
                                            </div>
                                            <div class="tpproduct__shopping">
                                                <a class="tpproduct__shopping-wishlist" href="#"><i
                                                        class="icon-heart icons"></i></a>
                                                <a class="tpproduct__shopping-wishlist" href="#"><i
                                                        class="icon-layers"></i></a>
                                                <a class="tpproduct__shopping-cart" href="#"><i
                                                        class="icon-eye"></i></a>
                                            </div>
                                        </div>
                                        <div class="tpproduct__content">
                                          <span class="tpproduct__content-weight">
                                             <a th:href="@{/detail/{id}(id=${item.productId})}"
                                                th:text="${item.category.categoryName}"></a>.
                                          </span>
                                            <h4 class="tpproduct__title">
                                                <a th:href="@{/detail/{id}(id=${item.productId})}"
                                                   th:text="${item.productName}"></a>
                                            </h4>
                                            <div class="tpproduct__rating mb-5">
                                                <a href="#"><i class="icon-star_outline1"></i></a>
                                                <a href="#"><i class="icon-star_outline1"></i></a>
                                                <a href="#"><i class="icon-star_outline1"></i></a>
                                                <a href="#"><i class="icon-star_outline1"></i></a>
                                                <a href="#"><i class="icon-star_outline1"></i></a>
                                            </div>
                                            <div class="tpproduct__price">
                                                <span th:text="${item.productPrice}"></span>
                                                <del>$19000.0</del>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!---------------------------------------------------->
                            </div>
                        </div>
                    </div>
                    <div class="basic-pagination text-center mt-35">
                        <nav>
                            <ul>
                                <li>
                                    <span class="current">1</span>
                                </li>
                                <li>
                                    <a href="#">2</a>
                                </li>
                                <li>
                                    <a href="#">3</a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="icon-chevrons-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<th:block th:insert="user/layout/footer.html"></th:block>
<th:block th:insert="user/layout/script.html"></th:block>
</body>
</html>