<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<th:block th:insert="user/layout/head.html"></th:block>
<body>
<th:block th:insert="user/layout/header.html"></th:block>
<!-- breadcrumb-area-start -->
<div class="breadcrumb__area grey-bg pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="tp-breadcrumb__content">
                    <div class="tp-breadcrumb__list">
                        <span class="tp-breadcrumb__active"><a href="/">Home</a></span>
                        <span class="dvdr">/</span>
                        <span>Shop</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb-area-end -->

<!-- shop-area-start -->
<section class="shop-area-start grey-bg pb-200">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12">
                <div class="tpshop__details">
                    <div class="tpshop__category">
                        <div class="swiper-container inner-category-two">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="category__item mb-30">
                                        <div class="category__thumb fix mb-15">
                                            <a href="#"><img
                                                    th:src="@{/assets2/img/catagory/category-9.jpg}"
                                                    alt="category-thumb"></a>
                                        </div>
                                        <div class="category__content">
                                            <h5 class="category__title"><a href="#">Vegetables</a>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="category__item mb-30">
                                        <div class="category__thumb fix mb-15">
                                            <a href="#"><img
                                                    th:src="@{/assets2/img/catagory/category-10.jpg}"
                                                    alt="category-thumb"></a>
                                        </div>
                                        <div class="category__content">
                                            <h5 class="category__title"><a href="#">Fresh Fruits</a>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="category__item mb-30">
                                        <div class="category__thumb fix mb-15">
                                            <a href="#"><img
                                                    th:src="@{/assets2/img/catagory/category-11.jpg}"
                                                    alt="category-thumb"></a>
                                        </div>
                                        <div class="category__content">
                                            <h5 class="category__title"><a href="#">Fruit Drink</a>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="category__item mb-30">
                                        <div class="category__thumb fix mb-15">
                                            <a href="#"><img
                                                    th:src="@{/assets2/img/catagory/category-12.jpg}"
                                                    alt="category-thumb"></a>
                                        </div>
                                        <div class="category__content">
                                            <h5 class="category__title"><a href="#">Fresh Bakery</a>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="category__item mb-30">
                                        <div class="category__thumb fix mb-15">
                                            <a href="#"><img
                                                    th:src="@{/assets2/img/catagory/category-13.jpg}"
                                                    alt="category-thumb"></a>
                                        </div>
                                        <div class="category__content">
                                            <h5 class="category__title"><a href="#">Biscuits Snack</a>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="category__item mb-30">
                                        <div class="category__thumb fix mb-15">
                                            <a href="#"><img
                                                    th:src="@{/assets2/img/catagory/category-14.png}"
                                                    alt="category-thumb"></a>
                                        </div>
                                        <div class="category__content">
                                            <h5 class="category__title"><a href="#">Fresh Meat</a></h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="category__item mb-30">
                                        <div class="category__thumb fix mb-15">
                                            <a href="#"><img
                                                    th:src="@{/assets2/img/catagory/category-15.png}"
                                                    alt="category-thumb"></a>
                                        </div>
                                        <div class="category__content">
                                            <h5 class="category__title"><a href="#">Fresh Milk</a>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="category__item mb-30">
                                        <div class="category__thumb fix mb-15">
                                            <a href="#"><img
                                                    th:src="@{/assets2/img/catagory/category-16.png}"
                                                    alt="category-thumb"></a>
                                        </div>
                                        <div class="category__content">
                                            <h5 class="category__title"><a href="#">Fresh Milk</a>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="category__item mb-30">
                                        <div class="category__thumb fix mb-15">
                                            <a href="#"><img
                                                    th:src="@{/assets2/img/catagory/category-17.png}"
                                                    alt="category-thumb"></a>
                                        </div>
                                        <div class="category__content">
                                            <h5 class="category__title"><a href="#">Fresh Milk</a>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                   <!----------------------------------------------->
                    <div class="col-sm-4">
                        <div class="tpproductnav tpnavbar product-filter-nav d-flex align-items-center justify-content-center">
                            <nav>
                                <div class="nav nav-pills" id="nav-tab" role="tablist">
                                    <button class="nav-link active btn btn-light" id="nav-all-tab" data-bs-toggle="tab"
                                            data-bs-target="#nav-all" role="tab" aria-controls="nav-all"
                                            aria-selected="true">
                                        All
                                    </button>
                                    <div th:each="category : ${categoryList}">
                                        <button class="nav-link btn btn-light" th:id="${'nav-' + category.categoryId + '-tab'}"
                                                th:data-bs-toggle="tab" th:data-bs-target="${'#nav-' + category.categoryId}"
                                                th:role="tab" th:aria-controls="${'nav-' + category.categoryId}"
                                                th:aria-selected="false">
                                            <span th:text="${category.categoryName}"></span>
                                        </button>
                                    </div>
                                </div>
                            </nav>
                        </div>
                    </div>

                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade" id="nav-all" role="tabpanel" aria-labelledby="nav-all-tab">
                            <div class="row row-cols-xxl-4 row-cols-xl-4 row-cols-lg-3 row-cols-md-3 row-cols-sm-2 row-cols-1 tpproduct__shop-item">
                                <!---------------------------------------------------->
                                <div class="col" th:each="item : ${productList}">
                                    <div class="tpproduct p-relative mb-20">
                                        <div class="tpproduct__thumb p-relative text-center">
                                            <a th:href="@{/detail/{id}(id=${item.productId})}">
                                                <img style="width:100%; height:100%; object-fit: cover" th:src="@{|/uploads/images/${item.img}|}" alt=""></a>
                                            <a th:href="@{/detail/{id}(id=${item.productId})}" class="tpproduct__thumb-img">
                                                <img style="width:100%; height:100%; object-fit: cover" th:src="@{|/uploads/images/${item.img}|}" alt=""></a>
                                            <div class="tpproduct__info bage">
                                                <span class="tpproduct__info-discount bage__discount">-50%</span>
                                                <span class="tpproduct__info-hot bage__hot">HOT</span>
                                            </div>
                                            <div class="tpproduct__shopping">
                                                <a class="tpproduct__shopping-wishlist" href="#"><i
                                                        class="icon-heart icons"></i></a>
                                                <a class="tpproduct__shopping-wishlist" href="#"><i
                                                        class="icon-layers"></i></a>
                                                <a class="tpproduct__shopping-cart" href="#"><i
                                                        class="icon-eye"></i></a>
                                            </div>
                                        </div>
                                        <div class="tpproduct__content">
                                          <span class="tpproduct__content-weight">
                                             <a th:href="@{/detail/{id}(id=${item.productId})}"
                                                th:text="${item.category.categoryName}"></a>.
                                          </span>
                                            <h4 class="tpproduct__title">
                                                <a th:href="@{/detail/{id}(id=${item.productId})}"
                                                   th:text="${item.productName}"></a>
                                            </h4>
                                            <div class="tpproduct__rating mb-5">
                                                <a href="#"><i class="icon-star_outline1"></i></a>
                                                <a href="#"><i class="icon-star_outline1"></i></a>
                                                <a href="#"><i class="icon-star_outline1"></i></a>
                                                <a href="#"><i class="icon-star_outline1"></i></a>
                                                <a href="#"><i class="icon-star_outline1"></i></a>
                                            </div>
                                            <div class="tpproduct__price">
                                                <span th:text="${item.productPrice}"></span>
                                                <del>$19000.0</del>
                                            </div>
                                        </div>
                                        <div class="tpproduct__hover-text">
                                            <div class="tpproduct__hover-btn d-flex justify-content-center mb-10">
                                                <a class="tp-btn-2" href="/cart">Add to cart</a>
                                            </div>
                                            <div class="tpproduct__descrip">
                                                <ul>
                                                    <li>Type: Organic</li>
                                                    <li>MFG: August 4.2021</li>
                                                    <li>LIFE: 60 days</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!---------------------------------------------------->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- shop-area-end -->

<!-- shop-area-end -->
<th:block th:insert="user/layout/footer.html"></th:block>
<th:block th:insert="user/layout/script.html"></th:block>
</body>
</html>