<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:insert="admin/layout/head.html"></th:block>
<body class="hold-transition skin-blue sidebar-mini">
<div class="app-menu navbar-menu">
    <th:block th:insert="admin/layout/sidebar.html"></th:block>
    <th:block th:insert="admin/layout/header.html"></th:block>
</div>
<!-- =============================================== -->


<!-- =============================================== -->
<th:block th:insert="admin/layout/footer.html"></th:block>
<th:block th:insert="admin/layout/script.html"></th:block>
</body>
</html>