<!doctype html>
<html xmlns:th="http://www.thymeleaf.org/" lang="en" data-layout="vertical" data-sidebar="dark" data-sidebar-size="lg"
      data-preloader="disable" data-theme="default" data-topbar="light" data-bs-theme="light">
<th:block th:insert="admin/layout/head.html"></th:block>
<body>
<div id="layout-wrapper">
    <div class="app-menu navbar-menu">
        <th:block th:insert="admin/layout/sidebar.html"></th:block>
        <th:block th:insert="admin/layout/header.html"></th:block>
    </div>
    <div class="vertical-overlay"></div>
    <!-- ============================================================== -->
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                            <h4 class="mb-sm-0">Edit User</h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-xxl-8">
                                        <form action="/admin/add-user" method="post" th:object="${user}">
                                            <div class="mb-3">
                                                <label  class="form-label">Image<span class="text-danger">*</span></label>
                                                <input th:field="*{userImg}" type="file" class="form-control" placeholder="Enter title" required>
                                            </div>
                                            <div class="mb-3">
                                                <label  class="form-label">Name<span class="text-danger">*</span></label>
                                                <input th:field="*{userName}" type="text" class="form-control"  placeholder="Enter Name" required>
                                            </div>
                                            <div class="mb-3">
                                                <label  class="form-label">Email<span class="text-danger">*</span></label>
                                                <input th:field="*{userEmail}" type="text" class="form-control"  placeholder="Enter Email" required>
                                            </div>
                                            <div class="mb-3">
                                                <label  class="form-label">Address<span class="text-danger">*</span></label>
                                                <input th:field="*{userAddress}" type="text" class="form-control"  placeholder="Enter Address" required>
                                            </div>
                                            <div class="mb-3">
                                                <label  class="form-label">PhoneNumber<span class="text-danger">*</span></label>
                                                <input th:field="*{userPhoneNumber}" type="text" class="form-control"  placeholder="Enter PhoneNumber" required>
                                            </div>
                                            <div class="mb-3">
                                                <label  class="form-label">Role<span class="text-danger">*</span></label>
                                                <input th:field="*{role}" type="text" class="form-control"  placeholder="Enter Role" required>
                                            </div>
                                            <div class="mb-3">
                                                <label  class="form-label">Status<span class="text-danger">*</span></label>
                                                <input th:field="*{status}" type="text" class="form-control"  placeholder="Enter Status" required>
                                            </div>
                                            <a href="/admin" class="btn btn-danger"><i class="ph-x align-middle"></i> Cancel</a>
                                            <button class="btn btn-primary">Submit</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
</div>
<th:block th:insert="admin/layout/footer.html"></th:block>
<th:block th:insert="admin/layout/script.html"></th:block>
</body>
</html>