<!doctype html>
<html xmlns:th="http://www.thymeleaf.org/" lang="en" data-layout="vertical" data-sidebar="dark" data-sidebar-size="lg"
      data-preloader="disable" data-theme="default" data-topbar="light" data-bs-theme="light">
<th:block th:insert="admin/layout/head.html"></th:block>
<body>

<div id="layout-wrapper">

    <!-- ========== App Menu ========== -->
    <div class="app-menu navbar-menu">
        <th:block th:insert="admin/layout/sidebar.html"></th:block>
        <th:block th:insert="admin/layout/header.html"></th:block>


    </div>
    <!-- Left Sidebar End -->
    <!-- Vertical Overlay-->
    <div class="vertical-overlay"></div>
    <!-- =============================================== -->

    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                            <h4 class="mb-sm-0">User List</h4>

                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Courses</a></li>
                                    <li class="breadcrumb-item active">User View</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end page title -->

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card" id="coursesList">
                            <div class="card-body">
                                <div class="row align-items-center g-2">
                                    <div class="col-lg-3 me-auto">
                                        <h6 class="card-title mb-0">Instructors List <span
                                                class="badge bg-primary ms-1 align-baseline">1452</span></h6>
                                    </div><!--end col-->
                                    <div class="col-lg-2">
                                        <div class="search-box">
                                            <input type="text" class="form-control search" placeholder="Search...">
                                            <i class="ri-search-line search-icon"></i>
                                        </div>
                                    </div>
                                    <div class="col-lg-auto">
                                        <div class="hstack flex-wrap gap-2">
                                            <button class="btn btn-subtle-danger d-none" id="remove-actions"
                                                    onClick="deleteMultiple()"><i class="ri-delete-bin-2-line"></i>
                                            </button>
                                            <a href="add-user.html" data-bs-toggle="modal" class="btn btn-secondary"><i
                                                    class="bi bi-plus-circle align-baseline me-1"></i> Add Course</a>
                                            <div>
                                                <button type="button" class="btn btn-info" data-bs-toggle="offcanvas"
                                                        data-bs-target="#courseFilters" aria-controls="courseFilters">
                                                    <i class="bi bi-funnel align-baseline me-1"></i> Filter
                                                </button>
                                                <a href="#" class="btn btn-subtle-primary btn-icon"><i
                                                        class="bi bi-grid"></i></a>
                                                <a href="#" class="btn btn-subtle-primary active btn-icon"><i
                                                        class="bi bi-list-task"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive table-card">
                                    <table class="table table-centered align-middle table-custom-effect table-nowrap mb-0">
                                        <thead class="text-muted">
                                        <tr>
                                            <th>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="option"
                                                           id="checkAll">
                                                    <label class="form-check-label" for="checkAll"></label>
                                                </div>
                                            </th>
                                            <th scope="col" class="sort cursor-pointer" data-sort="category">Category
                                            </th>
                                            <th scope="col" class="sort cursor-pointer" data-sort="course_Name">Course
                                                Name
                                            </th>
                                            <th scope="col" class="sort cursor-pointer" data-sort="instructor">
                                                Instructor
                                            </th>
                                            <th scope="col" class="sort cursor-pointer" data-sort="lessons">Lessons</th>
                                            <th scope="col" class="sort cursor-pointer" data-sort="duration">Duration
                                            </th>
                                            <th scope="col" class="sort cursor-pointer" data-sort="students">Students
                                            </th>
                                            <th scope="col" class="sort cursor-pointer" data-sort="fees">Fees</th>
                                            <th scope="col" class="sort cursor-pointer" data-sort="rating">Rating</th>
                                            <th scope="col" class="sort cursor-pointer" data-sort="status">Status</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                        </thead>
                                        <tbody class="list form-check-all">
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" name="chk_child">
                                                    <label class="form-check-label"></label>
                                                </div>
                                            </td>
                                            <td class="id d-none"><a href="javascript:void(0)"
                                                                     class="fw-medium link-primary">#TBS001</a></td>
                                            <td class="category"><a href="apps-learning-grid.html" class="text-reset">React
                                                Development</a></td>
                                            <td class="course_Name">
                                                <div class="d-flex gap-2 align-items-center">
                                                    <div class="flex-shrink-0">
                                                        <img th:src="@{/assets3/images/learning/react.png}" alt=""
                                                             class="avatar-xxs">
                                                    </div>
                                                    <div class="flex-grow-1">
                                                        <a href="apps-learning-overview.html" class="text-reset">Advanced
                                                            React and Redux</a>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="instructor">Themesbrand</td>
                                            <td class="lessons">15</td>
                                            <td class="duration">2 Years</td>
                                            <td class="students">49</td>
                                            <td class="fees"><span class="fw-medium">$278.12</span></td>
                                            <td class="rating"><i
                                                    class="bi bi-star-fill text-warning align-baseline me-1"></i> <span
                                                    class="rate-value">4.5</span></td>
                                            <td class="status"><span class="badge bg-info-subtle text-info">Open</span>
                                            </td>
                                            <td>
                                                <ul class="d-flex gap-2 list-unstyled mb-0">
                                                    <li>
                                                        <a href="apps-learning-overview.html"
                                                           class="btn btn-subtle-primary btn-icon btn-sm "><i
                                                                class="ph-eye"></i></a>
                                                    </li>
                                                    <li>
                                                        <a href="#addCourse" data-bs-toggle="modal"
                                                           class="btn btn-subtle-secondary btn-icon btn-sm edit-item-btn"><i
                                                                class="ph-pencil"></i></a>
                                                    </li>
                                                    <li>
                                                        <a href="#deleteRecordModal" data-bs-toggle="modal"
                                                           class="btn btn-subtle-danger btn-icon btn-sm remove-item-btn"><i
                                                                class="ph-trash"></i></a>
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                        </tbody><!-- end tbody -->
                                    </table><!-- end table -->
                                    <div class="noresult" style="display: none">
                                        <div class="text-center py-4">
                                            <i class="ph-magnifying-glass fs-1 text-primary"></i>
                                            <h5 class="mt-2">Sorry! No Result Found</h5>
                                            <p class="text-muted mb-0">We've searched more than 150+ Courses We did not
                                                find
                                                any Courses for you search.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row align-items-center mt-4 pt-2" id="pagination-element">
                                    <div class="col-sm">
                                        <div class="text-muted text-center text-sm-start">
                                            Showing <span class="fw-semibold">10</span> of <span
                                                class="fw-semibold">15</span> Results
                                        </div>
                                    </div><!--end col-->
                                    <div class="col-sm-auto mt-3 mt-sm-0">
                                        <div class="pagination-wrap hstack gap-2 justify-content-center">
                                            <a class="page-item pagination-prev disabled" href="javascript:void(0)">
                                                Previous
                                            </a>
                                            <ul class="pagination listjs-pagination mb-0"></ul>
                                            <a class="page-item pagination-next" href="javascript:void(0)">
                                                Next
                                            </a>
                                        </div>
                                    </div><!--end col-->
                                </div><!--end row-->
                            </div>
                        </div><!--end card-->
                    </div><!--end col-->
                </div><!--end row-->
            </div>
        </div>
    </div>
</div>
<!-- =============================================== -->

<th:block th:insert="admin/layout/footer.html"></th:block>
<th:block th:insert="admin/layout/script.html"></th:block>
</body>
</html>